.logo{
    font-size: 25px;
    font-weight: bold;
}
.nav-item{
    font-weight: bold;
    padding:10px;
    color:black;
}
.nav-item:hover{
    color:black;
    text-decoration:none;
}
.login-btn{
    background:tomato;
    color:white;
    padding:8px;
    border-radius: 30px;
    width: 100px;
}
@media (max-width: 996px){
    .login-btn{
        width:100%;
    }
}